*,
html{
    margin: 0;
    padding: 0;
}
body {
    
}

.container-navbar{
background-color: #999;
width: 100vh;
height: 20vh;
display: flex;
align-items: center;
}

.container-navbar2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-perusahaan{
    width: 75px;
    height: 75px;  
}

.ul-navbar{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.li-navbar{
    font-size: 30px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
    padding: 20px;
    color: yellow;
   
    
}

.container-image{
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vh;
    height: 60vh;

}

.container-image2{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.a-image{
   background-color: white;
   margin: 50px;
   border-radius: 50px;
   box-shadow: 17px 10px 12px 3px rgba(0,0,0,0.75);
   -webkit-box-shadow: 17px 10px 12px 3px rgba(0,0,0,0.75);
   -moz-box-shadow: 17px 10px 12px 3px rgba(0,0,0,0.75);
}


.gambar{
    height: 200x;
    width: 200px;
    margin: 50px;
    border-radius: 25px;
}



.container-footer{
    background-color: rgb(139, 158, 158);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 20vh;
    width: 100vh
}
.container-footer2{
    height: 150px; 
}

.h1-footer{
   margin: 20px ;
   text-align: center;
}