*,
html{
    margin: 0;
    padding: 0;
}
body {
    background-color: #444;
}

.container-navbar{
background-color: #999;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100px;
}

.logo-perusahaan{
    width: 75px;
    height: 75px;  
}

.ul-navbar{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-navbar{
    background-color: #555;
    border: 1px solid black;
    list-style-type: none;
    width: 200px;
    margin: 20px;
    padding: 20px;
    color: yellow;
    text-align: center;
    
}

.container-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

/* .ul-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 200px;
} */

.gambar{
    height: 200px;
    width: 200px;
    margin: 20px;
    margin-top: 50px;
    padding: 10px;
}

.li-image{
    list-style-type: none;
}

.container-footer{
    border: 2px solid black;
    background-color: #777;
    margin: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;  
}

.h1-footer{
    margin: 10px ;
   text-align: center;
}